{% extends "blog/headerfooter.html" %}
{%block content%}
        <section class="body-main-section">
            <h2>Favourites &#10084;</h2>
            <article class="fav-box">
                <div class="right">
                    <img src="#" alt="" width="150" height="150">
                </div>
                <div class="left">
                    <div class="item1">
                        <h3>Veranda</h3>
                        <div class="minus">&minus;</div>
                    </div>
                    <div class="item2">
                        <p>Сайхан хоолны газрууд нь хоолны шилдэг, тансаг байдлын илэрхийлэл юм. Энэхүү байгууллагань өөгүй үйлчилгээ, боловсронгуй орчин, нарийн боловсруулсан цэсээр тодорхойлогддог тансаг хоолныг таньд санал болгоно.</p>
                        <div class="stars">
                            ★★★★★
                        </div>
                    </div>
                </div>
            </article>
            <article class="fav-box">
                <div class="right">
                    <img src="#" alt="" width="150" height="150">
                </div>
                <div class="left">
                    <div class="item1">
                        <h3>Rock Salt</h3>
                        <div class="minus">&minus;</div>
                    </div>
                    <div class="item2">
                        <p>Энгийн зоогийн газрууд нь тайван уур амьсгал, амттай, хүртээмжтэй хоолны хооронд тэнцвэрийг бий болгодог. Эдгээр хоолны газрууд нь найз нөхөд, гэр бүлээрээ хамтдаа хооллох таатай орчинг бүрдүүлдэг.</p>
                        <div class="stars">
                            ★★★★★
                        </div>
                    </div>
                    
                </div>
            </article>
        </section>


        <footer>
            <div class="footer-container">
                <!-- Column 1: Social Media Icons and Contact Info -->
                <div class="footer-column">
                    <div>
                        <a href="#" class="footer-icons"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="footer-icons"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="footer-icons"><i class="fa fa-twitter"></i></a>
                    </div>
                    <p><i class="fa fa-envelope"></i> Whereeat@gmail.com</p>
                    <p><i class="fa fa-globe"></i> Монгол Улс, Улаанбаатар хот, ХУД, 18-р хороо, Их Монгол гудамж, Хүннү 2222 хороолол</p>
                </div>
    
                <!-- Column 2: Links -->
                <div class="footer-column">
                    <p><a href="#">Түгээмэл асуулт хариулт</a></p>
                    <p><a href="#">Санал хүсэлт</a></p>
                    <p><a href="#">Хүний нөөц</a></p>
                </div>
    
                <!-- Column 3: Copyright and Credits -->
                <div class="footer-column">
                    <p>&copy; 2023 - БҮХ ЭРХ ХУУЛИАР ХАМГААЛАГДСАН</p>
                    <p>Вэб сайтыг: МУИС</p>
                </div>
            </div>
        </footer>
{% endblock %}