{% extends "blog/headerfooter.html" %}
{% load static %}
{%block content%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rosewood</title>
    <script
      src="https://kit.fontawesome.com/038f7db41c.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'blog/place-style.css' %}">
  </head>
  <body>
    <main>
      <section id="info">
        <img
          src="image/place-img.jpg"
          alt="restaurant's photo"
          id="place-img"
        />
        <article id="place-info">
          <h1 id="place-name">Rosewood</h1>
          <div id="ratings">
            <div class="rating">
              <i class="fa-solid fa-star" style="color: #ffb448"></i>
              <p>5</p>
            </div>
            <div class="rating">
              <i class="fa-solid fa-comments" style="color: #ffb448"></i>
              <p>45</p>
            </div>
          </div>
          <div id="tags">
            <div class="tag">
              <p>restaurant</p>
            </div>
            <div class="tag">
              <p>lounge</p>
            </div>
            <div class="tag">
              <p>pub</p>
            </div>
          </div>
          <p id="info-txt">
            Үндэстний болон тусгай ресторанууд өөрсдийн өвөрмөц хоолны
            өргөлөөрөө дамжуулан алс холын орнуудад хооллодог хүмүүсийг зөөдөг.
            Эдгээр зоогийн газрууд нь тодорхой хоол эсвэл бүс нутгийн хоолонд
            анхаарлаа төвлөрүүлж, тухайн соёлын амтыг жинхэнэ амтаар хангадаг.
          </p>
          <div id="info-comment">
            <i class="fa-solid fa-heart fa-xl" style="color: #ffb448"></i>
            <button class="info-btn">Сэтгэгдэл үлдээх</button>
            <button class="info-btn">Үнэлэх</button>
          </div>
        </article>
      </section>
      <section id="comments">
        <article class="comment">
          <i class="fa-solid fa-user"></i>
          <h1>Мөнхцэцэг</h1>
          <div>⭐⭐⭐⭐⭐</div>
          <p>Харилцааны соёлтой үйлчилгээ сайн газар байсаан хоол нь бас яг зураг шигээ гоё хоолтой.</p>
        </article>
        <article class="comment">
          <i class="fa-solid fa-user"></i>
          <h1>Мөнхцэцэг</h1>
          <div>⭐⭐⭐⭐⭐</div>
          <p>Харилцааны соёлтой үйлчилгээ сайн газар байсаан хоол нь бас яг зураг шигээ гоё хоолтой.</p>
        </article>
        <article class="comment">
          <i class="fa-solid fa-user"></i>
          <h1>Мөнхцэцэг</h1>
          <div>⭐⭐⭐⭐⭐</div>
          <p>Харилцааны соёлтой үйлчилгээ сайн газар байсаан хоол нь бас яг зураг шигээ гоё хоолтой.</p>
        </article>
      </section>
      <section id="menu">
        <div id="menu-container">
          <h1>Menu</h1>
          <section id="menu-food">
            <article class="food">
              <img src="image/salad.jpg" alt="food picture" />
              <h1>Salad</h1>
              <p class="food-txt">Эрүүл бөгөөд сэтгэл хөдөлгөм амт.</p>
              <p class="food-ingr">Орц:</p>
              <p class="ingr">Улаан сонгино, байцаа, лууван</p>
            </article>
            <article class="food">
              <img src="image/bread.jpg" alt="food picture" />
              <h1>Bread</h1>
              <p class="food-txt">Эрүүл бөгөөд сэтгэл хөдөлгөм амт.</p>
              <p class="food-ingr">Орц:</p>
              <p class="ingr">Улаан сонгино, байцаа, лууван</p>
            </article>
            <article class="food">
              <img src="image/cake.jpg" alt="food picture" />
              <h1>Cake</h1>
              <p class="food-txt">Эрүүл бөгөөд сэтгэл хөдөлгөм амт.</p>
              <p class="food-ingr">Орц:</p>
              <p class="ingr">Улаан сонгино, байцаа, лууван</p>
            </article>
            <article class="food">
              <img src="image/shake.jpg" alt="food picture" />
              <h1>Shake</h1>
              <p class="food-txt">Эрүүл бөгөөд сэтгэл хөдөлгөм амт.</p>
              <p class="food-ingr">Орц:</p>
              <p class="ingr">Улаан сонгино, байцаа, лууван</p>
            </article>
            <article class="food">
              <img src="image/salmon.jpg" alt="food picture" />
              <h1>Salmon</h1>
              <p class="food-txt">Эрүүл бөгөөд сэтгэл хөдөлгөм амт.</p>
              <p class="food-ingr">Орц:</p>
              <p class="ingr">Улаан сонгино, байцаа, лууван</p>
            </article>
            <article class="food">
              <img src="image/donuts.jpg" alt="food picture" />
              <h1>Donuts</h1>
              <p class="food-txt">Эрүүл бөгөөд сэтгэл хөдөлгөм амт.</p>
              <p class="food-ingr">Орц:</p>
              <p class="ingr">Улаан сонгино, байцаа, лууван</p>
            </article>
            <article class="food">
              <img src="image/ice-cream.jpg" alt="food picture" />
              <h1>Ice cream</h1>
              <p class="food-txt">Эрүүл бөгөөд сэтгэл хөдөлгөм амт.</p>
              <p class="food-ingr">Орц:</p>
              <p class="ingr">Улаан сонгино, байцаа, лууван</p>
            </article>
          </section>
        </div>
      </section>
      <section id="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2674.1582399461013!2d106.90745877685174!3d47.91397556670085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5d96924fca7be7bf%3A0xaf566f15807779a!2sRosewood%20Kitchen%20%2B%20Enoteca!5e0!3m2!1sen!2smn!4v1699933782326!5m2!1sen!2smn"
          width="900"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </section>
    </main>
  </body>
</html>
{% endblock %}
